body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #20fcdb, #d02098);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#app {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h2 {
    margin-top: 20px;
    font-size: 1.5em;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    background: #ef32d9;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #a726c1;
}

#dataList .dataItem {
    margin-bottom: 15px;
}

#results {
    margin-top: 20px;
}
