* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
} 

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background: #222;
    background-image: url('./images/sky.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .card {
    width: 100%;
    width: 90%;
    max-width: 470px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #60a7ff, #3d385c);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
  }
  
  .search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
  }
  
  .search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  
  .search button img {
    width: 16px;
  }
  
  .weather-icon {
    width: 170px;
    margin-top: 30px;
  }
  
  .weather h1 {
    font-size: 80px;
    font-weight: 500;
  }
  
  .weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
  }
  
  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
  }
  
  .col {
    display: flex;
    align-items: center;
    text-align: left;
  }
  
  .col img {
    width: 40px;
    margin-right: 10px;
  }
  
  .humidity,
  .wind {
    font-size: 28px;
    margin-top: -6px;
  }
  
  .weather {
    display: none;
  }
  
  .error {
    text-align: left;
    margin: left;
    font-size: 14px;
    margin-top: 10px;
    display: none;
  }
  
  @media(max-width: 912px) {
    .card {
      width: 90%;
      max-width: 470px;
    }
  }
  
  @media(max-width: 1280px) {
    .card {
      width: 90%;
      max-width: 470px;
    }
  }
  
  
  @media(max-width: 360px) {
    .search input {
      border: 0;
      outline: 0;
      background: #ebfffc;
      color: #555;
      padding: 0px 7px;
      height: 60px;
      border-radius: 20px;
      flex: 1;
      margin-right: 8px;
      font-size: 18px;
    }
  
    .search button {
      border: 0;
      outline: 0;
      background: #ebfffc;
      border-radius: 30%;
      width: 60px;
      height: 60px;
      cursor: pointer;
    }
  }
  
  @media(max-width: 375px) {
    .search input {
      border: 0;
      outline: 0;
      background: #ebfffc;
      color: #555;
      padding: 0px 7px;
      height: 60px;
      border-radius: 20px;
      flex: 1;
      margin-right: 8px;
      font-size: 18px;
    }
  
    .search button {
      border: 0;
      outline: 0;
      background: #ebfffc;
      border-radius: 30%;
      width: 60px;
      height: 60px;
      cursor: pointer;
    }
  }
  
  @media(max-width: 280px) {
    .search input {
      border: 0;
      outline: 0;
      background: #ebfffc;
      color: #555;
      padding: 0px 4px 4px 4px;
      height: 60px;
      border-radius: 20px;
      flex: 1;
      margin-right: 4px;
      font-size: 18px;
    }
  
    .search button {
      border: 0;
      outline: 0;
      background: #ebfffc;
      border-radius: 30%;
      width: 60px;
      height: 60px;
      cursor: pointer;
    }
  
    .card {
      width: 108%;
      width: 90%;
      max-width: 470px;
      background: linear-gradient(135deg, #60a7ff, #3d385c);
      /* background: transparent; */
      color: #fff;
      margin: 100px auto 0;
      border-radius: 20px;
      padding: 40px 35px;
      text-align: center;
    }
  }
  
  @media(max-width: 360px) {
    .search input {
      border: 0;
      outline: 0;
      background: #ebfffc;
      color: #555;
      padding: 0px 7px;
      height: 60px;
      border-radius: 20px;
      flex: 1;
      margin-right: 8px;
      font-size: 18px;
    }
  
    .search button {
      border: 0;
      outline: 0;
      background: #ebfffc;
      border-radius: 30%;
      width: 60px;
      height: 60px;
      cursor: pointer;
    }
  }
  
  @media(max-width: 320px) {
    .search input {
      border: 0;
      outline: 0;
      background: #ebfffc;
      color: #555;
      padding: 0px 7px;
      height: 60px;
      border-radius: 20px;
      flex: 1;
      margin-right: 8px;
      font-size: 18px;
    }
  
    .search button {
      border: 0;
      outline: 0;
      background: #ebfffc;
      border-radius: 30%;
      width: 80px;
      height: 60px;
      cursor: pointer;
    }
  }