body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0;
	margin: 0;
}

.container {
	text-align: center;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.selector {
	margin-bottom: 20px;
}

label {
	margin: 0 10px 0 0;
}

select {
	padding: 5px;
	font-size: 16px;
	margin-right: 10px;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: #007BFF;
	color: #fff;
}

button:hover {
	background-color: #0056b3;
}

#quoteContainer {
	margin-top: 20px;
}

#slok,
#translation {
	margin: 10px 0;
	font-size: 18px;
}