body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 32px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

#search-container {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

/* Input field styles */
#username-input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #f0f0f0;
}

/* Search button styles */
#search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* User profile container styles */
#user-profile {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#user-profile h2 {
    font-size: 24px;
    margin: 10px 0;
}

#user-profile img {
    max-width: 200px;
    border-radius: 50%;
    margin-top: 10px;
}

#user-profile p {
    font-size: 16px;
}

/* User repositories container styles */
#user-repos {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#user-repos h2 {
    font-size: 24px;
    margin: 0 0 20px;
}

#user-repos ul {
    list-style: none;
    padding: 0;
}

#user-repos ul li {
    margin-bottom: 10px;
    font-size: 18px;
}