@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #927dfc;
}

.wrapper {
  height: 207px;
  max-width: 370px;
  background: #fff;
  border-radius: 5px;
  padding: 16px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: height 0.2s ease;
}

.wrapper.active {
  height: 475px;
}

header h1 {
  font-size: 22px;
  font-weight: 600;
}

header p {
  font-size: 15px;
  color: #474747;
  /* color: #9b88f9; */
  margin-top: 4px;
}

.wrapper .form {
  margin: 20px 0 25px;
}

.form :where(input, button) {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.form input {
  font-size: 17px;
  border: 1px solid #999;
  padding: 0 10px;
}

.form input:focus {
  border-color: #927dfc;
}

.form button {
  background-color: #927dfc;
  color: #fff;
  font-size: 17px;
  margin-top: 15px;
  cursor: pointer;
}

.wrapper .qr-code {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
}

.wrapper.active .qr-code {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}

.qr-code img {
  max-height: 180px;
}

@media (max-width: 430px) {
  .wrapper {
    height: 220px;
    padding: 16px 20px;
  }
  .wrapper.active {
    height: 486px;
  }
  header p {
    color: #696969;
  }
  .form :where(input, button) {
    height: 50px;
  }
  .qr-code img {
    width: 180px;
  }
}
